.kiki--me {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 30px;
    /* background-image: url('kikiarts/recent--kikiart.png'); */
}

#its__kiki {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 960px) {
    #its__kiki {
        height: 80%;
    }

}