.content {
    box-shadow: 0 0 1 rgba(0, 0, 0, 0.5);
}

/* CSS STYLING FOR SECTION ID="BANNER" */
.kiki__banner {
    background-color: white;
    background-size: cover;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    box-shadow: 0 0 1 rgba(0, 0, 0, 0.5);
    margin: 0 30px;
}

.kiki__banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.kiki__banner p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.columntop {
    background-color: white;
    margin: 2rem 30px;
    padding: 2rem 0;
}

.bio__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    z-index: 5;
    width: 100%;
    max-width: 100%;
    max-width: 1300px;
    padding: 0 15px;
}

.bio__column h2 {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: white;
    background-image: linear-gradient(to top, red 0%, pink 100%);
    background-size: 100%;
    /* THE FOLLOWING FOUR LINES ARE MY FAVORITE PIECE OF CODE */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width:1000px) {
    .bio__column h2 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 800px) {
    .bio__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }

    .bio__column h2 {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 480px) {
    .bio__column h2 {
        font-size: 1.25rem;
    }

}


